<div>
  <h1 class="text-center">Students</h1>
  <hr />
  <div class="row">
    <div class="col-10">
      <h2>Students</h2>
    </div>
    <div class="col-2">
      <button
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#createStudentModal"
      >
        Add New Student
      </button>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Year Of Study</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ student.name }}</td>
        <td>{{ student.birthDate }}</td>
        <td>{{ student.yearOfStudy }}</td>
        <td>
          <button
            class="btn btn-primary btn-sm mx-2"
            data-bs-toggle="modal"
            data-bs-target="#updateStudentModal"
            (click)="getStudent(student.id)"
          >
            Update
          </button>
          <button
            class="btn btn-danger btn-sm mx-2"
            (click)="deleteStudent(student.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Insert Modal -->
  <div
    class="modal fade"
    id="createStudentModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="createStudentModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createStudentModalLabel">
            Add New Student
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input
                class="form-control"
                type="text"
                name="name"
                [(ngModel)]="student.name"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Birth Date</label>
              <input
                type="date"
                class="form-control"
                name="birthDate"
                [(ngModel)]="student.birthDate"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Year Of Study</label>
              <input
                type="number"
                class="form-control"
                name="yearOfStudy"
                [(ngModel)]="student.yearOfStudy"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="addStudent($event)"
            data-bs-dismiss="modal"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Update Modal -->
  <div
    class="modal fade"
    id="updateStudentModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="updateStudentModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateStudentModalLabel">
            Update Student
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <input
              type="hidden"
              name="selectedStudent"
              [(ngModel)]="selectedStudent"
            />
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input
                class="form-control"
                type="text"
                name="studentToUpdateName"
                [(ngModel)]="studentToUpdate.name"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Birth Date</label>
              <input
                type="date"
                class="form-control"
                name="studentToUpdatBbirthDate"
                [(ngModel)]="studentToUpdate.birthDate"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Year Of Study</label>
              <input
                type="number"
                class="form-control"
                name="studentToUpdateYearOfStudy"
                [(ngModel)]="studentToUpdate.yearOfStudy"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="updateStudent($event)"
            data-bs-dismiss="modal"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
