<div>
  <h1 class="text-center">Teachers</h1>
  <hr />
  <div class="row">
    <div class="col-10">
      <h2>Teachers</h2>
    </div>
    <div class="col-2">
      <button
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#createTeacherModal"
      >
        Add New Teacher
      </button>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Main Subject</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of teachers; index as i; trackBy: track">
        <th scope="row">{{ i }}</th>
        <td>{{ teacher.name }}</td>
        <td>{{ teacher.birthDate }}</td>
        <td>{{ teacher.mainSubjectTeaching }}</td>
        <td>
          <button
            class="btn btn-primary btn-sm"
            title="{{ teacher.id }}"
            (click)="updateTeacher($event)"
          >
            Update
          </button>
          <button
            class="btn btn-danger btn-sm"
            title="{{ teacher.id }}"
            (click)="deleteTeacher($event)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div
    class="modal fade"
    id="createTeacherModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="createTeacherModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createTeacherModalLabel">
            Add New Teacher
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form (submit)="addTeacher($event)">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input
                class="form-control"
                type="text"
                [value]="name"
                #nameInput
                (input)="name = nameInput.value"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Birth Date</label>
              <input
                type="date"
                class="form-control"
                [value]="birthDate"
                #birthDateInput
                (input)="birthDate = birthDateInput.value"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Main Subject Teaching</label>
              <input
                type="text"
                class="form-control"
                [value]="mainSubjectTeaching"
                #mainSubjectTeachingInput
                (input)="mainSubjectTeaching = mainSubjectTeachingInput.value"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
