<div>
  <h1 class="text-center">Tasks</h1>
  <hr />
  <div class="row">
    <div class="col-10">
      <h2>Tasks</h2>
    </div>
    <div class="col-2">
      <button
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#createTaskModal"
      >
        Create a Task
      </button>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Table Name</th>
        <th scope="col">Action Type</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ task.name }}</td>
        <td>{{ task.tableName }}</td>
        <td>{{ task.actionType }}</td>
        <td>
          <button class="btn btn-info btn-sm" (click)="executeTask(task.id)">
            Execute
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <hr />
  <h2>Tasks Performed</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Task Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasksExecution; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ task.task?.name }}</td>
        <td>{{ task.taskStartDate }}</td>
        <td>{{ task.taskEndDate }}</td>
        <td>
          <button *ngIf="task.taskEndDate" class="btn btn-success">
            Completed
          </button>
          <button *ngIf="!task.taskEndDate" class="btn btn-warning">
            Running
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div
    class="modal fade"
    id="createTaskModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="createTaskModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createTaskModalLabel">Create a Task</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input
                class="form-control"
                type="text"
                aria-label="readonly input"
                [value]="name"
                readonly
              />
              <div class="row mt-1">
                <div class="col-10"></div>
                <div class="col-2">
                  <span
                    class="badge bg-secondary d-block w-100 p-1"
                    (click)="refreshName()"
                    >Refresh</span
                  >
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Table Name</label>
              <select
                class="form-select"
                name="tableName"
                [(ngModel)]="tableName"
              >
                <option value="students">Students</option>
                <option value="teachers">Teachers</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Action Type</label>
              <select
                class="form-select"
                name="actionType"
                [(ngModel)]="actionType"
              >
                <option value="purge">Purge</option>
                <option value="initialize">Initialize</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="addTask($event)"
            data-bs-dismiss="modal"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
